<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>博远-首页</title>
    <link rel="stylesheet" type="text/css" href="./css/common.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/.css">
</head>

<body>
    <header class="header">
        <div class="main top">
            <h2 class="title">博远信息技术社</h2>
            <div class="nav">
                <ul>
                    <li>
                        <a class="link" href="./">首页</a>
                    </li>
                    <li>
                        <a class="link" href="account.html">个人中心</a>
                    </li>
                </ul>
            </div>
            <div class="user">

                <p class="name">当前用户</p>
                <img class="logo" />

            </div>
        </div>
    </header>

    </div>

    <div class="main">

        <div class="left_content">
            <div class="selectcontainer">
                <div class="m-4" id="selectType">
                    <!-- HTML 代码 -->
                    <div class="custom-select">
                        <p>请选择招募任务类型</p>
                        <ul>
                            <li>双创</li>
                            <li>外包</li>
                            <li>大作业</li>
                            <li>校级项目</li>
                            <li>社团项目</li>
                            <li>其他类型</li>
                        </ul>
                    </div>
                </div>
                <div id="selectDisplayType" class="selectDisplay">请选择招募任务类型</div>
            </div>
            <div class="selectcontainer">
                <div class="m-4" id="selectDirection">
                    <!-- HTML 代码 -->
                    <div class="custom-select">
                        <p>请选择需求方向</p>
                        <ul>
                            <li>前端</li>
                            <li>后端</li>
                            <li>项目经理</li>
                            <li>UI设计师</li>
                            <li>其他需求方向</li>
                        </ul>
                    </div>
                </div>
                <div id="selectDisplayDirection" class="selectDisplay">请选择需求方向</div>
            </div>
            <div class="selectcontainer">
                <div class="m-4" id="selectTag">
                    <!-- HTML 代码 -->
                    <div class="custom-select">
                        <p>请选择技术栈</p>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>其他前端语言</li>
                            <li>Java</li>
                            <li>Python</li>
                            <li>C/C++</li>
                            <li>Go</li>
                            <li>Ruby</li>
                            <li>其他后端语言</li>
                        </ul>
                    </div>
                </div>
                <div id="selectDisplayTag" class="selectDisplay">请选择技术栈</div>
                <div class="new">
                    <div class="update">

                        <i class="sprite sprite-new"></i>
                        <div class="text_update">最新招募</div>
                        <div class="divder"></div>
                    </div>
                    <div id="indexList"></div>
                    <div class="loadmore">加载中...</div>
                </div>
                <!--
                <div class="right_content">
                <div class="about_me">
                    <ul>
                        <li><a href="#" target="_blank"><i class="sprite sprite-mark"></i>我的收藏</a></li>
                        <li><a href="#" target="_blank"><i class="sprite sprite-guanzhu"></i>我的组队</a></li>
                    </ul>
                    <div class="divder_another">
                    </div>
                </div>


            </div>
            -->

            </div>
            <script src="./js/jquery.min.js"></script>
            <script src="./js/common.js"></script>
            <script src="./js/index.js"></script>
            <script>
                let headProtrait = localStorage.getItem('sessionData.headprotrait');
                if (headProtrait) {
                    let img = document.getElementsByClassName('logo');
                    img.src = 'http://116.62.103.210/image/' + headProtrait;
                }
                let role = localStorage.getItem('sessionData.role');
            </script>
            <script>
                document.getElementById('create-form').addEventListener('submit', function (event) {
                    event.preventDefault(); // 阻止表单默认提交行为

                    let type = []; // 存储所选type的数组
                    let checkboxes1 = document.querySelectorAll('input[name="type"]:checked');
                    checkboxes1.forEach(function (checkbox) {
                        type.push(checkbox.value);
                    });
                    let direction = []; // 存储所选direction的数组
                    let checkboxes2 = document.querySelectorAll('input[name="direction"]:checked');
                    checkboxes2.forEach(function (checkbox) {
                        direction.push(checkbox.value);
                    });
                    let tag = []; // 存储所选type的数组
                    let checkboxes3 = document.querySelectorAll('input[name="tag"]:checked');
                    checkboxes3.forEach(function (checkbox) {
                        tag.push(checkbox.value);
                    });
                    let start_time = document.getElementById('start_time').value;
                    let end_time = document.getElementById('end_time').value;
                    let contact = document.getElementById('contact').value;
                    let content = document.getElementById('content').value;

                    let now = new Date(); // 获取当前时间
                    let year = now.getFullYear(); // 获取年份
                    let month = now.getMonth() + 1; // 获取月份（注意：月份范围是 0 到 11，需要加1）
                    let day = now.getDate(); // 获取日期
                    // 格式化年月日
                    let update_date = year + '-' + (month < 10 ? '0' : '') + month + '-' + (day < 10 ? '0' : '') + day;

                    let data = {//数据大整合
                        type: type,
                        direction: direction,
                        tag: tag,
                        start_time: start_time,
                        end_time: end_time,
                        contact: contact,
                        content: content,
                        update_date: update_date
                    };

                    // 将数据转换为 JSON 格式
                    let jsonData = JSON.stringify(data);
                    console.log(jsonData); // 将数据传递给服务器
                    fetch('http://116.62.103.210:8080/creatArticle', {
                        method: 'POST',
                        body: jsonData
                    })
                        .then(response => {
                            if (response.ok) {
                                alert(data.message)
                                // 请求成功处理
                            } else {
                                throw new Error('Network response was not ok.');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error)
                            alert('出错啦！请稍后再试。')
                        });
                    // 在这里可以继续其他操作，例如显示成功消息或重定向到其他页面
                })

                let selectedDisplayType = document.getElementById('selectDisplayType');
                let selectedDisplayDirection = document.getElementById('selectDisplayDirection');
                let selectedDisplayTag = document.getElementById('selectDisplayTag');

                function addSelectEventListener(customSelect, selectOptions, selectedOptions, selectedDisplay) {
                    customSelect.querySelector('p').addEventListener('click', function () {
                        this.nextElementSibling.style.display = 'block';
                    });

                    customSelect.addEventListener('mouseleave', function () {
                        this.querySelector('ul').style.display = 'none';
                    });

                    function updateSelectedOptionsDisplay() {
                        selectedDisplay.textContent = selectedOptions.join(", "); // 使用逗号分隔已选中的选项
                    }

                    selectOptions.forEach(function (option) {
                        option.addEventListener('click', function () {
                            if (this.classList.contains('selected')) {
                                this.classList.remove('selected');
                                // 从已选中选项数组中移除取消选中的选项
                                let index = selectedOptions.indexOf(this.textContent);
                                if (index > -1) {
                                    selectedOptions.splice(index, 1);
                                }
                            } else {
                                this.classList.add('selected');
                                // 将选中的选项加入选项数组
                                selectedOptions.push(this.textContent);
                            }

                            updateSelectedOptionsDisplay(); // 更新显示框内容

                        });
                    });
                }


                let customSelectType = document.getElementById("selectType");
                let selectOptionsType = customSelectType.querySelectorAll('li');
                let selectedOptionsType = [];
                addSelectEventListener(customSelectType, selectOptionsType, selectedOptionsType, selectedDisplayType);

                let customSelectDirection = document.getElementById("selectDirection");
                let selectOptionsDirection = customSelectDirection.querySelectorAll('li');
                let selectedOptionsDirection = [];
                addSelectEventListener(customSelectDirection, selectOptionsDirection, selectedOptionsDirection, selectedDisplayDirection);

                let customSelectTag = document.getElementById("selectTag");
                let selectOptionsTag = customSelectTag.querySelectorAll('li');
                let selectedOptionsTag = [];
                addSelectEventListener(customSelectTag, selectOptionsTag, selectedOptionsTag, selectedDisplayTag);

                //显示框显示选项
                let selectedOptionsDisplay = document.getElementById('selectedOptionsDisplay');

                // 添加按钮点击事件，打印选项信息至控制台
                const printButton = document.getElementById('printButton');
                printButton.addEventListener('click', () => {
                    let selectedOptionsStr = selectedOptionsType.join(', ');
                    console.log(selectedOptionsStr);
                    selectedOptionsStr = selectedOptionsDirection.join(', ');
                    console.log(selectedOptionsStr);
                    selectedOptionsStr = selectedOptionsTag.join(', ');
                    console.log(selectedOptionsStr);

                });

            </script>
</body>

</html>