<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>帖子首页</title>
    <link rel="stylesheet" type="text/css" href="./css/common.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
    <header class="header">
        <div class="main top">
            <h2 class="title">博远信息技术社</h2>
            <div class="nav">
                <ul>
                    <li>
                        <a class="link" href="./">首页</a>
                    </li>
                    <li>
                        <a class="link" href="account.html">个人中心</a>
                    </li>
                </ul>
            </div>
            <div class="user">

                <p class="name">当前用户</p>
                <img src="./image/logo.jpg" class="logo" />

            </div>
        </div>
    </header>
    <div class="main">
        <div class="left_content">
            <div class="new">
                <div class="update">
                    <i class="sprite sprite-new"></i>
                    <p class="text_update">最新招募</p>
                    <div class="divder"></div>
                </div>
                <div id="indexList"></div>
                <div class="loadmore">加载中...</div>
            </div>
            <!--
                <div class="right_content">
                <div class="about_me">
                    <ul>
                        <li><a href="#" target="_blank"><i class="sprite sprite-mark"></i>我的收藏</a></li>
                        <li><a href="#" target="_blank"><i class="sprite sprite-guanzhu"></i>我的组队</a></li>
                    </ul>
                    <div class="divder_another">
                    </div>
                </div>


            </div>
            -->

        </div>
        <script src="./js/jquery.min.js"></script>
        <script src="./js/common.js"></script>
        <script src="./js/index.js"></script>
</body>

</html>